/*
* demo.css
* File include item demo only specific css only
******************************************************************************/
.insert_data_background {
    bgcolor: blue;
}

.menu .app-brand.demo {
  height: 100px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.4rem;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  color:#fff;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}
.buy-now{display:none;}
.layout-page{padding-left:0!important;}
#layout-menu{display:none;}
.top-menu-block{background-color: #061b41;
    padding: 20px 0;
    border-bottom: 3px double #FFF;
    box-shadow: 0px 2px 5px #000;}
 .ms-left{margin-left:10px !important;z-index:9999;}
 .demo{margin-top:4px;}

.main-menu li a{color:#ff0;
padding-right: 10px!important;
padding-left: 10px!important; font-size:20px;}
.main-menu li a.active{background:#a70026; color:#fff;}
.db-profile{left:100%}
.w-px-50 {
    width: 45px !important;
}
.table-custom tr td{font-size:12px;}
.table-custom tr th{text-transform: capitalize;}
.table-custom tr th select.column-filter{min-width:60px;}
@media (min-width: 992px){
.col-lg-3ow .col-lg-3 {
    width: 20%;
    padding: 0.5em;
}
}
.col-lg-3ow .card-body{padding:1em;min-height: 169px;}
.adt-container .card-header{padding:1em;}
.d-flexover{justify-content: flex-end;margin-right:9%
}
.txt-center{text-align:center}
.mrgL-10{margin-left:-12px}
.mrgLH5-25{margin-left:-26px!important;}
.addscroll-y{max-height:500px;}
.cardstyle .cardA{background:#020a6e!important;}
.cardstyle .cardB{background:#096E01!important;}
.cardstyle .cardC{background:#6e016b!important;}
.cardstyle .cardD{background:#016e6e!important;}
.cardstyle .cardE{background:#6e0101!important;}
.cardstyle .card ,.cardstyle .card h3{color:#fff;}
.cardstyle .d-flex{display:none!important}
.cardstyle .card{border:6px #fff double}
.cardstyle .cardA::before,.cardstyle .cardB::before,.cardstyle .cardC::before,.cardstyle .cardD::before,.cardstyle .cardE::before {
 content: ">";
    color: #a39898;
    position: absolute;
    font-size: 20em;
    opacity: .25;
    top: -163px;
    left: -7px;
}
.cardstyle .col-lg-3ow .card-body{min-height: 145px;padding-top: 1.8em;position:relative;z-index:1}