{% extends 'Index.html' %}
{% load static %}

<!-- Content wrapper -->
<div class="content-wrapper"></div>
{% block content %}
<!-- Content -->
    <div class="card">
      <div class="">
        <div class="card-body">
        <div class="insert_data_background">
<!--            <h3>{{ message }}</h3>-->
          <div class="mb-5">
            <h2>{{ message|default:"Please fill the details and click Submit" }}</h2>
          </div>
          <form class="form-horizontal" method="post" action="{% url 'Insert_automation_data' %}">
              {% csrf_token %}
<!--            <div class="form-group row mb-3">-->
<!--              <label for="Serialnumber" class="control-label col-lg-4">Serial Number :</label>-->
<!--              <div class="col-lg-8">-->
<!--                <input id="Serialnumber" name="serialnumber" type="number" class="form-control" required/>-->
<!--              </div>-->
<!--            </div>-->
            <div class="form-group row mb-3">
              <label for="month" class="control-label col-lg-4">Month :</label>
              <div class="col-lg-8">
                <select id='month' name="month" onchange="show_month()" class="form-control" required>
                    <option selected value=''>--Select Month--</option>
                    <option value='January'>January</option>
                    <option value='February'>February</option>
                    <option value='March'>March</option>
                    <option value='April'>April</option>
                    <option value='May'>May</option>
                    <option value='June'>June</option>
                    <option value='July'>July</option>
                    <option value='August'>August</option>
                    <option value='September'>September</option>
                    <option value='October'>October</option>
                    <option value='November'>November</option>
                    <option value='December'>December</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="year" class="control-label col-lg-4">Year :</label>
              <div class="col-lg-8">
                <input id="year" name="year" type="number" min="1900" max="2099" step="1" value="2023" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="portfolio" class="control-label col-lg-4">Portfolio :</label>
              <div class="col-lg-8">
                <input type="text" name="portfolio" class="form-control" id="portfolio" required>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="aitnumber" class="control-label col-lg-4">AIT Number :</label>
              <div class="col-lg-8">
                <input id="aitnumber" name="AIT_Number" type="number" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="application_name" class="control-label col-lg-4">Application Name :</label>
              <div class="col-lg-8">
                <input type="text" name="application_name" class="form-control" id="application_name" required>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="cloud_noncloud" class="control-label col-lg-4">Cloud Non-Cloud :</label>
              <div class="col-lg-8">
                <select id='cloud_noncloud' name="could_noncloud" class="form-control" required>
                    <option selected value=''>--Select--</option>
                    <option value='Cloud'>Cloud</option>
                    <option value='Noncloud'>Non-Cloud</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="automation_status" class="control-label col-lg-4">Automation Status :</label>
              <div class="col-lg-8">
                <select id='automation_status' name="Automation_status" class="form-control" required>
                    <option selected value=''>--Select--</option>
                    <option value='Not-started'>Not Started</option>
                    <option value='In-progress'>In-Progress</option>
                    <option value='Completed'>Completed</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="automation_tool" class="control-label col-lg-4">Automation Tool :</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="automation_tool" name="automation_tool" required>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="insprint" class="control-label col-lg-4">In Sprint :</label>
              <div class="col-lg-8">
                <select id='insprint' name="in_sprint" class="form-control" required>
                    <option selected value=''>--Select--</option>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="litmus_onboarding" class="control-label col-lg-4">Litmus Onboarding :</label>
              <div class="col-lg-8">
                <select id='litmus_onboarding' name="litmus_onboarding" class="form-control" required>
                    <option selected value=''>--Select--</option>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="No_Of_Overall_Regression_Scripts" class="control-label col-lg-4">No of Overall Regression Scripts :</label>
              <div class="col-lg-8">
                <input id="No_Of_Overall_Regression_Scripts" name="no_of_overall_regression_scripts" type="number" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="no_of_inscope_reg_scripts" class="control-label col-lg-4">No of in-scope Reg Scripts :</label>
              <div class="col-lg-8">
                <input id="no_of_inscope_reg_scripts" name="no_of_inscope_reg_scripts" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="no_of_inscope_reg_scripts" class="control-label col-lg-4">No of Regscripts Automated :</label>
              <div class="col-lg-8">
                <input id="no_of_regscripts_automated" name="no_of_regscripts_automated" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
<!--            <div class="form-group row mb-3">-->
<!--              <label for="Percentage_Automation_Complete" class="control-label col-lg-4">Percentage Automation Complete :</label>-->
<!--              <div class="col-lg-8">-->
<!--                <input id="Percentage_Automation_Complete" name="percentage_automation_complete" type="number"  min="0" value="0" step="any" class="form-control" required/>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group row mb-3">-->
<!--              <label for="Percentage_Application_Penetration" class="control-label col-lg-4">Percentage Application Penetration :</label>-->
<!--              <div class="col-lg-8">-->
<!--                <input id="Percentage_Application_Penetration" name="percentage_application_penetration" type="number"  min="0" value="0" step="any" class="form-control" required/>-->
<!--              </div>-->
<!--            </div>-->
            <div class="form-group row mb-3">
              <label for="time_to_manuallyexecute" class="control-label col-lg-4">Time to Manually Execute(in hours) :</label>
              <div class="col-lg-8">
                <input id="time_to_manuallyexecute" name="time_to_manuallyexecute" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="No_Of_Release" class="control-label col-lg-4">No of Release :</label>
              <div class="col-lg-8">
                <input id="No_Of_Release" name="no_of_release" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="Monthly_Manual_Executiontime" class="control-label col-lg-4">Monthly Manual Execution time(in hours) :</label>
              <div class="col-lg-8">
                <input id="Monthly_Manual_Executiontime" name="monthly_manual_executiontime" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="Monthly_Effort_Spent_On_Dev_Automation" class="control-label col-lg-4">Monthly Effort Spent on Dev Automation(in hours) :</label>
              <div class="col-lg-8">
                <input id="Monthly_Effort_Spent_On_Dev_Automation" name="monthly_effort_spent_on_dev_automation" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="Time_To_Execute_1automatedtestcase" class="control-label col-lg-4">Time to Execute 1 Automated Test Case(in hours) :</label>
              <div class="col-lg-8">
                <input id="Time_To_Execute_1automatedtestcase" name="time_to_execute_1automatedtestcase" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="Mothly_Automate_Executiontime" class="control-label col-lg-4">Monthly Automate Execution Time(in hours) :</label>
              <div class="col-lg-8">
                <input id="Mothly_Automate_Executiontime" name="mothly_automate_executiontime" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="Monthly_Effort_Spent_in_Maintaining_Automation" class="control-label col-lg-4">Monthly Effort Spent in Maintaining Automation(in hours) :</label>
              <div class="col-lg-8">
                <input id="Monthly_Effort_Spent_in_Maintaining_Automation" name="monthly_effort_spentin_maintaining_automation" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="Monthly_Effort_Takes_Toexecute_Regscript" class="control-label col-lg-4">Monthly Effort Takes To execute Regscript(in hours) :</label>
              <div class="col-lg-8">
                <input id="Monthly_Effort_Takes_Toexecute_Regscript" name="monthly_effort_takes_toexecute_regscript" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="Hours_Saved_Monthly" class="control-label col-lg-4">Monthly Hours Saved :</label>
              <div class="col-lg-8">
                <input id="Hours_Saved_Monthly" name="hours_saved_monthly" type="number"  min="0" value="0" step="any" class="form-control" required/>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label for="comment" class="control-label col-lg-4">Comments :</label>
              <div class="col-lg-8">
                <textarea name="comments" class="form-control" id="comment" required></textarea>
              </div>
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
        </div>
      </div>
    </div>
{% endblock content %}


