{% extends 'Index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automation Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <a href="{% url 'Insert_automation_data' %}" class="btn btn-primary">Add Entry</a>
        <div class="row">
            <div class="col-lg-12 col-md-12 order-1">
                        <div class="card">
                            <h5 class="card-header">Automation Report</h5>
                            <div class="table-responsive text-nowrap">

                                <table class="table table-dark">
                                    <thead>
                                        <tr class="text-nowrap">
                                                <th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Sl.No"
                                                    data-column="0"
                                                  />
                                                </th>
                                                <th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="AIT"
                                                    data-column="1"
                                                  />
                                                </th>
                                                <th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Portfolio"
                                                    data-column="2"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Application Name"
                                                    data-column="3"
                                                  />
                                                </th>
                                                <th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Automation Status"
                                                    data-column="4"
                                                  />
                                                </th>
                                                <th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Automation Tool"
                                                    data-column="5"
                                                  />
                                                </th>
                                                <th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Cloud/NonCloud"
                                                    data-column="6"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="In Sprint"
                                                    data-column="7"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Litmus Onboarding"
                                                    data-column="8"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Total # Regression Test Cases"
                                                    data-column="9"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Total # Regression Automatable"
                                                    data-column="10"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Total # Regression Automated"
                                                    data-column="11"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Automation Progress %"
                                                    data-column="12"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Automation Penetration %"
                                                    data-column="13"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Time To Manually Execute"
                                                    data-column="14"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="No Of Release"
                                                    data-column="15"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Monthly Manual Execution Time"
                                                    data-column="16"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Monthly Effort Spent On Dev Automation"
                                                    data-column="17"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Time To Execute One Automated Test Case"
                                                    data-column="18"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Monthly Automate Execution Time"
                                                    data-column="19"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Monthly Effort Spent In Maintaining Automation"
                                                    data-column="20"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Monthly Effort Taken To Execute Regression Script"
                                                    data-column="21"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Hours Saved Monthly"
                                                    data-column="22"
                                                  />
                                                </th>
												<th>
                                                  <input type="text"
                                                    class="form-control border-0 shadow-none column-search"
                                                    placeholder=""
                                                    aria-label=""
                                                    name="Comments"
                                                    data-column="23"
                                                  />
                                                </th>
                                        </tr>
                                        <tr class="text-nowrap">
                                                <th>Sl.No</th>
                                                <th>AIT</th>
                                                <th>Portfolio</th>
												<th>Application Name</th>
                                                <th>Automation Status</th>
                                                <th>Automation Tool</th>
                                                <th>Cloud/NonCloud</th>
												<th>In Sprint</th>
												<th>Litmus Onboarding</th>
												<th>Total # Regression Test Cases</th>
												<th>Total # Regression Automatable</th>
												<th>Total # Regression Automated</th>
												<th>Automation Progress %</th>
												<th>Automation Penetration %</th>
												<th>Time to Manually Execute</th>
												<th>No of Release</th>
												<th>Monthly Manual Execution Time</th>
												<th>Monthly Effort Spent on Dev Automation</th>
												<th>Time to Execute One Automated Test Case</th>
												<th>Monthly Automate Execution Time</th>
												<th>Monthly Effort Spent in Maintaining Automation</th>
												<th>Monthly Effort taken to Execute Regression Script</th>
												<th>Hours Saved Monthly</th>
												<th>Comments</th>
                                        </tr>
                                    </thead>
									{% for obj in object_list %}
                                    <tbody>
                                        <tr>
                                                <td>{{ obj.serialnumber }}</td>
                                                <td>{{ obj.AIT_Number }}</td>
                                                <td>{{ obj.portfolio }}</td>
												<td>{{ obj.application_name }}</td>
												<td>{{ obj.Automation_status }}</td>
                                                <td>{{ obj.automation_tool }}</td>
                                                <td>{{ obj.could_noncloud }}</td>
												<td>{{ obj.in_sprint }}</td>
												<td>{{ obj.litmus_onboarding }}</td>
												<td>{{ obj.no_of_overall_regression_scripts }}</td>
												<td>{{ obj.no_of_inscope_reg_scripts }}</td>
												<td>{{ obj.no_of_regscripts_automated }}</td>
												<td>{{ obj.percentage_automation_complete }}</td>
												<td>{{ obj.percentage_application_penetration }}</td>
												<td>{{ obj.time_to_manuallyexecute }}</td>
												<td>{{ obj.no_of_release }}</td>
												<td>{{ obj.monthly_manual_executiontime }}</td>
												<td>{{ obj.monthly_effort_spent_on_dev_automation }}</td>
												<td>{{ obj.time_to_execute_1automatedtestcase }}</td>
												<td>{{ obj.mothly_automate_executiontime }}</td>
												<td>{{ obj.monthly_effort_spentin_maintaining_automation }}</td>
												<td>{{ obj.monthly_effort_takes_toexecute_regscript }}</td>
												<td>{{ obj.hours_saved_monthly }}</td>
												<td>{{ obj.comments }}</td>
                                        </tr>
									</tbody>
									{% endfor %}
								</table>

							</div>

						</div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>